In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.to_datetime("14/06/1993")

C:\Users\Plass\AppData\Local\Temp\ipykernel_9232\2267827773.py:1: UserWarning: Parsing '14/06/1993' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime("14/06/1993")

Timestamp('1993-06-14 00:00:00')

In [3]:
pd.to_datetime("14/06/1993", dayfirst=True)

Timestamp('1993-06-14 00:00:00')

In [4]:
pd.to_datetime("14/06/1993", yearfirst=True)

C:\Users\Plass\AppData\Local\Temp\ipykernel_9232\3920892112.py:1: UserWarning: Parsing '14/06/1993' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime("14/06/1993", yearfirst=True)

Timestamp('1993-06-14 00:00:00')

In [5]:
pd.to_datetime("14/06/1993", yearfirst=True, dayfirst=True)

Timestamp('1993-06-14 00:00:00')

In [6]:
test_variable  =  pd.to_datetime("14/06/1993", yearfirst=True, dayfirst=True)
print(test_variable)

1993-06-14 00:00:00

In [7]:
ufos = pd.read_csv("data/nuforc_reports.csv")

In [8]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  object
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: float64(2), object(10)
memory usage: 8.1+ MB

In [9]:
pd.to_datetime(ufos["date_time"])

0       2019-12-12 18:43:00
1       2019-03-22 18:30:00
2                       NaT
3       2019-04-17 02:00:00
4       2009-03-15 18:00:00
                ...
88120   2019-10-02 20:00:00
88121   2019-10-02 20:00:00
88122   2019-10-02 20:03:00
88123   2019-10-02 22:00:00
88124   2019-10-02 22:00:00
Name: date_time, Length: 88125, dtype: datetime64[ns]

In [10]:
ufos["date"] = pd.to_datetime(ufos["date_time"])

In [11]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  object
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
 12  date            86938 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 8.7+ MB

In [12]:
ufos.tail()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude,date
88120,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02T20:00:00,formation,3 minutes,Occurred : 10/2/2019 20:00 (Entered as : 10/2...,http://www.nuforc.org/webreports/149/S149463.html,4 lights in formation over Tempe appear while ...,2019-10-04T00:00:00,33.414036,-111.92092,2019-10-02 20:00:00
88121,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02T20:00:00,light,20 seconds,Occurred : 10/2/2019 20:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149405.html,2 bright star like lights in the NNW sky two b...,2019-10-04T00:00:00,37.642200,-93.39960,2019-10-02 20:00:00
88122,I just witnessed a ‘Phoenix Lights’ type of fo...,North Port,FL,2019-10-02T20:03:00,formation,20 seconds,Occurred : 10/2/2019 20:03 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149424.html,10/2/19 @ 8:03PM EST UFO SIGHTING in the 3428...,2019-10-04T00:00:00,27.076210,-82.22328,2019-10-02 20:03:00
88123,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02T22:00:00,fireball,2 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149447.html,"Witnessed an orange, slow moving light. Was lo...",2019-10-04T00:00:00,35.605000,-82.31320,2019-10-02 22:00:00
88124,Glowing lights in formation just south of San...,Marin County,CA,2019-10-02T22:00:00,sphere,3 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10-0...,http://www.nuforc.org/webreports/149/S149436.html,Glowing lights in formation just south of San...,2019-10-04T00:00:00,NaN,NaN,2019-10-02 22:00:00

In [13]:
ufos["date_time"] = pd.to_datetime(ufos["date_time"])

In [14]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  datetime64[ns]
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
 12  date            86938 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 8.7+ MB

In [15]:
pd.read_csv("data/nuforc_reports.csv", parse_dates=["date_time"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  object
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: float64(2), object(10)
memory usage: 8.1+ MB

In [16]:
ufos = pd.read_csv("data/nuforc_reports.csv", parse_dates=["date_time"])

In [17]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  datetime64[ns]
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 8.1+ MB